.btn-primary {
  width: 100%;
  background-color: #8930d8;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-control,
.form-check-input {
  border: 2px solid #8930d8;
  border-radius: 5px;
  padding: 5px;
}

.form-check-input:checked {
  background-color: #8930d8;
  border-color: #8930d8;
}

.delete-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 24px;
}

.edit-btn {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 24px;
}

.delete-btn:hover {
  color: #8930d8;
}

.edit-btn:hover {
  color: #8930d8;
}

.icon-group {
  display: flex;
  gap: 8px;
  align-items: center;
}